[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
pytest-cov = "*"

[packages]
future = "*"
configparser = "*"
pytest-runner = "*"
stcrestclient = "*"
pytrafficgen = "==1.5.2"

[requires]
python_version = "2.7"
