
stcrestclient==1.8.1
pytrafficgen>=3.0.3,<3.1.0

# Testing
pytest
pytest-cov
tox

# Pipeline
pre-commit
pylint
pylint_pytest

# Packaging
setuptools-scm
build
twine

# Documentation
mkdocs
mkdocs-material
